body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.container {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    display: grid;
}

.square {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 15px;
    height: 15px;
}
